body{
    background-color: black;
  }

  #punchline{
    text-transform: uppercase;
    font-size: 2rem;

  }

  #nou{
    border: 2px solid white;
    width: 100%;

  }

  .poster{
    width: 50%;
    margin-top: 50px;
    margin-right: 5%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    padding: 25px;
    border: 2px solid;
  }
